.course-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: transform 0.3s ease-in-out;
}
.course-card:hover{
    transform: scale(1.04);
}
.course-img{
    width: 300px;
    height: 130px;
    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
}
.course-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and  (max-width:1312px){
    figure{
       display: flex;
       justify-content: center;
       align-items: center;
    }
}