.about-container{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px !important;
}
.btn-capitalize{
    text-transform: capitalize !important;
}
.about-bg{
    background-color: #EFFDFF;
}