figure{
    overflow: hidden;
}
.about-img-container{
    position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}
.about-img{
    border: 10px solid rgba(255,255,255,.5);
    width: 400px;
    height: 200px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    opacity: 0.6;
}
.about-img-container:hover{
    color: #111;
}
.about-img:hover{
    transform: scale(1.04);
    opacity: 0.4;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}