.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-navigation{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
}
.nav-item {
    text-decoration: none;
    font-weight: 600;
    padding: 28px 4px;
    color: #111;
}
.nav-item:hover{
    color: tomato;
}