/* Common class */
.thin-letter{
    font-weight: 200;
    margin:30px 0px;
    line-height: 40px;
}


.footer{
    background-color: #5A4E8C;
    padding: 120px 20px;
    color: #fff;
    margin-top: 250px;
}
.social-link{
    color: #fff;
    margin-right: 16px;
    font-size: 32px;
}
.social-link:hover{
    color: #C86FFF;
}
.link{
    text-decoration: none;
    color: #fff;
}
.link:hover{
    color: darkorange;
}
@media only screen and (max-width: 688px){
    .footer{
        margin-top: 1100px;
    }
}
@media only screen and (min-width: 688px) and (max-width:992px){
    .footer{
        margin-top: 500px;
    }
}
@media only screen and (min-width: 992px) and (max-width:1312px){
    .footer{
        margin-top: 500px;
    }
}